<div class="booksPageSideBar">
  <div class="authorsBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="authorBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="authorPageContent">
  <div class="authorDiv">
    <img src="http://fillmurray.com/150/150"/>
    <div class="authorDivContent">
      <h2>Author</h2>
      <a href='/authors/edit'>Edit</a>
      <a href='/edit'>Delete</a>
      <div class='authorDescription'>
        <p>
          all of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak gl
        </p>
    </div>
  </div>
  <div class="authorBooks">
    <ol>
      <li>Book 1</li>
      <li>Book 2</li>
      <li>Book 3</li>
    </ol>
  </div>
</div>
</div>
