<div class="booksPageSideBar">
  <div class="authorBooksSideBar">
    <img class='authorPictureBookPage' src="https://meetgrace.com/resources/wp-content/uploads/2016/02/6-Things-to-Consider-when-Writing-an-Obituary.jpg"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="booksBooksSideBar">
    <img class='bookPictureBookPage' src="http://cdn.mhpbooks.com/uploads/2014/03/Prison-books.jpg"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<form action="/books/new" method="POST">
<div class="bookPageContent">
  <label>Title</label><br><input type="text" name="title" ><br><br><br>
  <label>Genre</label><br><input type="text" name="genre" ><br><br><br>
  <label>Cover Image URL</label><br><input type="text" name="cover_url" ><br><br><br>
  <label>Biography</label><br><textarea name="description" ></textarea>
  <div class="bookEditPageContent">
    <div class="bookEditBooks">
      <label>Authors</label><br>
      <ul>
        <li>Author 1 <a href='/delete/{{this}}'>Delete</a></li>
    </div>
    <br>
    <div class="selectBox">
      <select class='bookSelectBox' name='bookEditSelect'>
        {{#authors}}
        <option value="{{names}}" selected>{{names}}</option>
        {{/authors}}
      </select>
      <button type="button" name="addAuthor">Add Author</button>
    </div>
    <br><br>
    <input type="submit" value="Add Book"></div>
</div>
</form>
