<div class="booksPageSideBar">
  <div class="authorBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <h2 class='rotate'>author<h2>
  </div>
  <div class="bookBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <h2 class='rotate'>books<h2>
  </div>
</div>
<div class="bookPageContent">
  <div class="bookDiv">
    <img src="http://fillmurray.com/150/150"/>
    <div class="bookDivContent">
      <h2>Book Title</h2>
      <h4>Author</h2>
    </div>
  </div>
</div>
