<div class="booksPageSideBar">
  <div class="authorBooksSideBar">
    <img class='authorPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/authors'><h2 class='rotate'>Authors<h2></a>
  </div>
  <div class="booksBooksSideBar">
    <img class='bookPictureBookPage' src="http://fillmurray.com/100/100"/>
    <a href='/books'><h2 class='rotate'>Books<h2></a>
  </div>
</div>
<div class="bookPageContent">
  <div class="bookDiv">
    <img src="http://fillmurray.com/150/150"/>
    <div class="bookDivContent">
      <h2>Book Title</h2>
      <h4>Author</h4>
      <h4>Genre</h4>

      <div class='bookDescription'>
        <p>
          all of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak glall of the content will go here yaya dfsoaf jklas;dj flk;adsh fjkads hfdjhjk fkhds fsa hadfl ghaso fsp gha fjksdhsdkl hafbdsakj kjbf ksduizxc ufes;k hfg knsdg bdfjlak gl
        </p>
    </div>
  </div>
</div>
<br><br>
<form action="/delete/{{this}}" method="post">
<input class='deleteItem' type="submit" value="Delete Book">
</form>
</div>
