<div class="bodyMainPage">
<div class="authorsMainPage">
    <img class='authorPictureMainPage' src="http://fillmurray.com/500/400" alt="" />
  <a href='/authors' class='mainPageLinks'>Authors</a>
</div>
<div class="booksMainPage">
  <img class='authorPictureMainPage' src="http://fillmurray.com/500/400" alt="" /><br>
  <a href='/books' class='mainPageLinks'>Books</a>
</div>
</div>
