body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  height: 60px;
  width: 60px;
  float: left;
  padding-right: 5px;
}

.headerMainPage {
  display: inline-block;
  border: 2px solid black;
  float: left;
  width: 100%;
}
.headerMainPage > h1 {
  margin-top: 1%;
}
.seperator {
  height: 20px;
  /*border: 1px solid blue;*/
  padding: 50px;
}
.content {
  width: 100%;
  height: 600px;
  /*border: 1px solid black;*/
  display: inline-block;
}
.bodyMainPage {
}
.authorsMainPage {
  width: 50%;
  height: 600px;
  border: 1px solid black;
  float: left;
}
.booksMainPage {
  width: 50%;
  height: 600px;
  border: 1px solid black;
  float: right;
}
.mainPageLinks {
  font-size: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.authorPictureMainPage {
  width: 85%;
  height: 400px;
  margin-left: 7.5%;
  margin-top: 6%;
  /*border: 1px solid orange;*/
}
.authorPictureMainPage > h3 {
  text-align: center;
}
.bookPictureMainPage {
  width: 85%;
  height: 400px;
  margin-left: 7.5%;
  margin-top: 6%;
  border: 1px solid orange;
}
.bookPictureMainPage > h3 {
  text-align: center;
}
.booksPageSideBar {
  width:10%;
  height: 600px;
}
.authorBooksSideBar {
  height: 300px;
  width: 100%;
  border: 1px solid blue;
  float: left;
}
.booksBooksSideBar {
  height: 300px;
  width: 100%;
  /*border: 1px solid orange;*/
  float: left;
  background-color: grey;
}
.authorBooksSideBar {
  height: 300px;
  width: 100%;
  /*border: 1px solid orange;*/
  float: left;
}
.authorsBooksSideBar {
  height: 300px;
  width: 100%;
  /*border: 1px solid orange;*/
  float: left;
  background-color: grey;
}
.authorPictureBookPage {
  padding: 12%;
}
.bookPictureBookPage {
  padding: 12%;
}
.rotate {
-webkit-transform: rotate(-90deg);
}
.bookPageContent {
  width: 65%;
  height: 450px;
  /*border: 1px solid blue;*/
  margin-top: -40%;
  margin-left: 20%;
}
.authorPageContent {
  width: 65%;
  height: 450px;
  /*border: 1px solid blue;*/
  margin-left: 20%;
}
.bookDiv {
  width: 100%;
  height: 155px;
  /*border: 1px solid red;*/
  margin-bottom: 2.5%;
  display: inline-block;
}
.authorDiv {
  width: 100%;
  height: 155px;
  /*border: 1px solid red;*/
  display: inline-block;
  margin-top: 10%;
}
.bookDivContent {
  width: 80%;
  height: 155px;
  /*border: 1px solid green;*/
  float: right;
}
.authorDivContent {
  width: 80%;
  height: 155px;
  /*border: 1px solid green;*/
  float: right;
}
.bookDescription {
  width: 75%;
  height: 155px;
  margin-top: -5%;
  float: right;
  /*border: 1px solid yellow;*/
  overflow-y: auto;
}
.bookSingleDescription {
  width: 75%;
  height: 155px;
  margin-top: -12%;
  float: right;
  /*border: 1px solid yellow;*/
  overflow-y: auto;
}
.authorDescription {
  width: 75%;
  height: 155px;
  margin-top: -1%;
  float: right;
  /*border: 1px solid yellow;*/
  overflow-y: auto;
}
.authorBooks {
  width: 100%;
  height: 75px;
  overflow-y: auto;
  /*border: 1px solid blue;*/
  margin-bottom: 3.5%;
  float: right;
}
.authorPageContent input {
  width: 40%;
}
.authorPageContent {
  margin-top: -40.5%;
}
.authorPageContent textarea {
  width: 40%;
  height: 20%;
}
.authorEditPageContent {
  width: 50%;
  height: 450px;
  /*border: 1px solid black;*/
  float: right;
  margin-top: -34.5%;
}
.authorEditBooks {
  /*border: 1px solid red;*/
}
.authorSelectBox {
  width: 50%;
  margin-left: 15%;
}
.authorSubmit {
  margin-left: 30%;
  width: 40%;
}
.bookPageContent input {
  width: 40%;
}
.bookPageContent textarea {
  width: 40%;
  height: 20%;
}
.bookEditPageContent {
  width: 50%;
  height: 450px;
  /*border: 1px solid black;*/
  float: right;
  margin-top: -34.5%;
}
.bookEditBooks {
  /*border: 1px solid red;*/
}
.bookSelectBox {
  margin-left: 30%;
  width: 50%;
}
.bookSubmit {
  margin-left: 30%;
  width: 40%;
}
.deleteItem {
  margin-left: 30%;
  width: 40%;
}
